---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Certifications from '../components/Certifications.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Sidebar />
  <main class="lg:ml-[17rem] min-h-screen pt-14 lg:pt-0">
    <About />
    <Skills />
    <Experience />
    <Certifications />
    <Projects />
    <Education />
    <Contact />
    <Footer />
  </main>
</Layout>
